/*General */

.main-color{
    color: #f25454 !important
}
 .main-bgColor{
     background-color: #f25454;
 }
 h1, h2, h3, h4, h5,h6{
    font-family: 'Poppins', sans-serif;
    color:#282828;
 }
body{
    font-family: 'Open Sans', sans-serif;
    color: #666;
}
.sub-title{
    max-width: 60%;
    margin: auto;
}

/* Home */

.bg-navbar{
    background-color:black;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #f25454;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    padding: 0 10px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #f25454;
}
.fab{
   padding-top:5px ;
   font-size: 14px;
}
/* Carousel */
.carousel-img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} 
.carousel-caption{
    padding-bottom: 200px;
    margin: auto;
}
.carousel-caption h1{
    color: #fff;
    font-weight: bolder;
    font-size: 70px ;
}

@media all and (max-width:1200px) and (min-width:900px){
    .carousel-caption h1{
       font-size:70px; 
    }  
}
@media all and (max-width:900px) and (min-width:700px){
    .carousel-caption h1{
       font-size:34px; 
    }  
}
@media all and (max-width:700px){
    .carousel-caption h1{
       font-size:25px; 
    }  
}
.scroll{
    width: 30px;
    height: 50px;
    border: solid 2px #fff;
    border-radius:15px ;
    margin: auto;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%);
}
.scroll:hover{
    cursor: pointer;
}
.weel{
    width: 8px;
    height: 8px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    display: block;
    top:0;
    left: 50%;
    transform: translate(-50%);
    animation: well 3s ease infinite;
}
@keyframes well{
    0%{
        top:0;
    }
    10%{
        top:10px;
    }
    20%{
        top:20px;
    }
    30%{
        top:30px;
    }
    40%{
        opacity:0;
    }
    50%{
        opacity: 0;
    }
    60%{
        top:0px;
    }
    70%{
        top:10px;
    }
    80%{
        top:20px;
    }
    90%{
        top:30px;
    }
    100%{
        top:30px;
    }
}
.icons{
 width: 50px;
 position: absolute;
 top: 60%;
 left: 0;
}

.right,.left{
   width: 50px;
   height: 50px;
   border: 1px solid #fff;

}
.icons i{
    font-size: 30px;
    color: #fff;
}
.icons a{
    text-decoration: none;
}



/* About section */
#about .setting{
    top: 20%;
    z-index: 11111;
}
#about .setting i{
    background-color: #1f2528;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
.head h2{
    font-size: 4rem;
    color: #eaeaea;
}
.head h4{
    font-size: 2.4rem;
    font-weight: 700px;
    left: 50%;
    transform: translate(-50%);
}
.line{
    background-color: #282828;
    width: 50px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 1s;
    cursor: pointer;
    
}
.line:hover{
    width: 80px;
}

/* About Us */
.progress{
    height:5px;
}

/* Our Team */

#team .team-layer{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242, 84, 84, 0.85);
    
}










/* Services */
#services .services-icon{
    font-size: 32px;
}
#services .services-text h3{
    font-size: 18px;
    transition: 1s;
}
#services .services-text h3:hover{
  color: #f25454;
}
#services .services-text p{
    font-size: 14px;
}

/* Clinet Review */
.carousel-indicators img{
 width: 130px;
 height: 130px;
 border-radius:50%; 
 margin: 10px;
 cursor: pointer;
 opacity: .5;
 margin-bottom: 50px;
}
.carousel-indicators .active{
    width: 150px;
    height: 150px;
}













/* Get in touch */

#touch input,textarea {
    width: 98%;
    margin-bottom: 20px;
    position: relative;
    height: 3rem;
    padding: 14px 18px ;
    border: solid 2px #a6a6a6;
    border-radius: 3px;
}
#touch textarea{
    height: 110px;
    overflow: auto;
}
#touch .btn-danger{
    border-radius: 5px;
}

#touch .get-icon{
    font-size: 32px;
}


/* About Section */
.main-size
{
    font-size: 4rem;
    font-weight: 700;
    color: gray;
    opacity: .4;

}

.sub-size
{
    font-size: 45px;
}
.line
{
    width: 30px;
    height: 2px !important;
    background-color: black;
    transition:width 2s ;

}
.header:hover .line
{
    width: 90px;
}
.progress{
    height: 5px !important;
    width: 80%;
}

.progress-bar
{
     height: 5px;
     padding:0 0 !important ;
}
.clear-fix
{
    clear: both;
}
/* team section*/
.cards
{
    transition: all .4s;
    overflow: hidden;
}
.card-img 
{
    overflow: hidden;
}

.layer
{
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
    height:100%;
    background-color: rgba(242, 84, 84, 0.85); 

    opacity:0;
    border-radius: 3px;
    transition:all 1s;
}
.cards:hover .layer
{
         background-color: rgba(242, 84, 84, 0..7);
         opacity: 1;
         transform: scale(1.4);


}
.card-img:hover img
{
    transform: scale(1.4);
    overflow: hidden;
}


.layer a{
    text-decoration: none;
    color: white;
}
.btn-danger
{
    font-size: 20px !important;
    font-weight: 700 !important;
}
.iteam-icon i
{
    color: #f25454;
    
}


/************************************************ Contact Part ************************************************/

#contact {
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: #fafafa;
}

.contact {
    padding: 50px 10px;
}

.contact h2 {
    margin: 0 0 50px 0;
    font-size: 32px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;
}

.contact-icons {
    color: #f25454;
    position: relative;
    display: block;
    float: left;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    margin-right: 10px;
    text-align: center;
    cursor: default;
}

.contact-details h4 {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;
}

.contact-details h4:hover {
    color: #f25454 !important;
}

.contact1 {
    padding: 15px 0px 50px 0px;
}

.contact-us {
    position: relative;
    z-index: 2;
    padding: 20px 20px 50px 17px;
    margin: 0px 0px;
}

.contact-form1 {
    width: 100%;
    line-height: 1;
    padding: 15px 18px;
    color: #a6a6a6 !important;
    border-radius: 3px;
    border: 2px solid #eee;
    background-color: #fff;
    transition: border-color 0.15s ease-in;
    margin: 10px 0px;
    font-family: inherit;
    font-size: inherit;
}

input {
    overflow: visible;
    outline: 0;
    box-shadow: none;
}

input:focus {
    border-color: #f25454 !important;
}

textarea:focus {
    border-color: #f25454 !important;
}

.btn i {
    color: inherit;
    padding-right: 10px;
}

.contact-us button {
    margin-top: 15px;
}


/************************************************ Footer Part ************************************************/

#footer {
    font-family: "Poppins", sans-serif;
    color: #b0b0b0;
}

.footer-details {
    position: relative;
    clear: both;
    background: #222;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(images/dotted-map.png);
    background-size: contain;
}

.footer-details .top {
    background: rgba(242, 84, 84, 0.5);
    position: absolute;
    display: block;
    z-index: 10;
    left: 0;
    right: 0;
    top: -25px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    cursor: pointer !important;
}

.top i {
    color: #fff;
    font-size: 18px;
    line-height: 46px;
}

.footer-description {
    padding-top: 20px;
}

.footer-logo {
    margin: 0 0 30px;
}

.footer-logo a {
    text-decoration: none;
    color: #b0b0b0;
}

.widget h5 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-text a {
    color: #b0b0b0;
    transition: .3s;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #f25454 !important;
}

.types {
    margin-top: 16px;
    overflow: hidden;
}

.types .type {
    border: 1px solid #b0b0b0;
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 2px 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s;
}

.types a:hover {
    color: #f25454 !important;
    border: 1px solid #f25454;
}

.footer-end {
    position: relative;
    clear: both;
    background: #1a1a1a;
    padding-top: 30px;
    padding-bottom: 30px;
}

.socialmedia {
    cursor: default;
    line-height: 1;
}

.socialmedia a {
    margin: 0 10px;
    color: #444;
}

.socialmedia i {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    width: 1.2em;
    text-align: center;
}

.socialmedia i:hover {
    color: #f25454;
}

.copyright {
    clear: both;
    margin: 0;
    line-height: 16px;
    letter-spacing: .5px;
    text-align: right;
}

.copyright a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.copyright a:hover {
    color: #f25454;
    text-decoration: none;
}







.service-single .icon{
    color: #f25454;
    position: relative;
    display: block;
    float: left;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    margin-right: 20px;
    text-align: center;
    cursor: default;
}
#touch h3{
    font-size: 32px;
    line-height: 32px;
}
.contact-content>.icon {
    position: relative;
    display: block;
    float: left;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    margin-right: 20px;
    text-align: center;
    cursor: default;
    color: #f25454;
}
.contact-content{
    padding: 25px 0;
    border-bottom: 1px solid rgb(71, 67, 67);
}
.contact-form .field {
    width: 98.24561403508772%;
    margin-bottom: 20px;
    position: relative;
}
input, textarea {
    line-height: 1;
    padding: 14px 18px;
    color: #a6a6a6;
    border-radius: 3px;
    border: 2px solid #eee;
    background-color: #fff;
    
    transition: border-color 0.15s ease-in;
}
/* .contact-form .field input{
   
} */
#contact-submit{
    background-color:  #f25454;
    color: white;
}
#footer li{
    list-style-type:none;
    color: white;

}
#footer li:hover{
    color: #f25454;
}
#footer .tags a:hover{
    color: #f25454;
}
#footer h5 {
    color: white;
}
#footer .tags a {
    border: 1px solid white;
    color: white;
    
}
.tags .tag{
margin-right: 8px;
    margin-bottom: 8px;
    padding: 2px 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 3px;
}
.foot{
    background-color: rgb(24, 20, 20);
}
.team img{
    transform: translateY(30px);
    margin: 20px 0 20px 0;
}
#last{
    background-color: rgb(51, 44, 44);
    width: 100%;
    height: 100px;
}
.copyright{
    right: 30px;
    bottom: 30px;
}
.social-icon{
   
    text-align: center;
border-radius: 50%;
}
  



.social-icon i{
    font-size: 30px;
    margin: 30px  15px;
    /* border-radius: 50%; */
    padding: 10px;
    color: white;
}
.social-icon i:hover{
    color: #f25454;
}
.par{
    color: white;
}
